{{> header}}

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/css/signin.css">

<body>
<div class="container-fluid">

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">You have been registered.</h4>
                </div>
            </div>
        </div>
    </div>

    <form id="formLogin" class="form-signin">

        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username / Email Address" required
               autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="submitForm()">Sign in</button>

        <br>

        <div id="formUnauthorized" class="alert alert-danger hidden">
            <a id="closeUnauthorized" class="close" aria-label="unauthorized-close">&times;</a>
            <strong>Error</strong> Bad username or password
        </div>

        <br>

        <a id="link-register" href="/registration">Not registered? Click here.</a>
    </form>
</div>
</body>

{{> footer-login}}
