{{> header}}

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/css/signin.css">

<body>
<div class="container-fluid">
    <form class="form-signin" id="formLogin">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div id="formAlert" class="alert alert-danger hide">
            <a class="close">×</a>
            <strong>Unauthorized</strong> Bad username or password
        </div>

        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username / Email Address" required
               autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <!--
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        -->

        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="submitForm()">Sign in</button>

        <br><br>

        <a id="link-register" href="/registration">Not registered? Click here.</a>
    </form>
</div>
</body>

{{> footer-login}}
