{{> header}}

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/css/signin.css">

<script>
    function get_action(form) {

        // TODO: Supposedly needs sanitation using ESAPI.encoder().encodeForJavascript() or some other sanitation
        // mechanism on inputUsername and inputPassword
        const username = $('#inputUsername').val();
        const password = $('#inputPassword').val();

        // Not the best way to send the username and password, but it will suffice for demo purposes for now.
        form.action = 'http://' + username + ':' + password + '@' + location.host + '/user/welcome';
    }
</script>

<body>
<div class="container-fluid">
    <form class="form-signin" method="POST" onsubmit="get_action(this);">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username / Email Address" required
               autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <!--
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <br><br>
        <a id="link-register" href="/registration">Not registered? Click here.</a>
    </form>
</div>
</body>

{{> footer}}
