{{> header}}

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/css/welcome.css">

<body>
<div class="container-fluid">
    <h2 class="profile-heading">Hapi Login Test Demo</h2>
    <h3 class="profile-welcome">Welcome, {{username}}!</h3>
    <button type="button" id="btnRetrieve" class="btn btn-primary">View User Details</button>
    <div class="profile-info">
        <div id="alertForbidden" class="alert alert-danger hidden">
            <strong>Error</strong> You are forbidden from accessing the resource.
        </div>
        <table class="table">
            <tr class="info">
                <td>First Name:</td><td id="profile-firstname"></td>
            </tr>
            <tr class="info">
                <td>Last Name:</td><td id="profile-surname"></td>
            </tr>
            <tr class="info">
                <td>Birth Date:</td><td id="profile-birthdate"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/user/logout" class="profile-logout">Click here to logout</a>
</div>
</body>

{{> footer-welcome}}
