<footer class="footer">
</footer>

<!-- load stardard library-independent JS -->
<script src="/js/std/jquery.min.js"></script>

<!-- load JS files with possible dependencies -->
<script src="/js/std/bootstrap.min.js"></script>
<script src="/js/helpers/login/loader.js"></script>
<script src="/js/helpers/login/loginsubmitter.js"></script>
