<footer class="footer">
</footer>

<script src="/js/hawkbrowser.js"></script>
<script src="/js/browserhkdftokengenerator.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myutils.js"></script>
