<footer class="footer">
</footer>

<!-- load standard JS libraries -->
<script src="/js/std/jquery.min.js"></script>
<script src="/js/std/bootstrap.min.js"></script>
<script src="/js/std/bootstrap-datepicker.js"></script>

<!-- load JS files with possible dependencies -->
<script src="/js/helpers/registration/loader.js"></script>
