<footer class="footer">
</footer>

<!-- load stardard library-independent JS -->
<script src="/js/helpers/custom/myutils.js"></script>
<script src="/js/helpers/custom/hawkbrowser.js"></script>
<script src="/js/helpers/custom/browserhkdftokengenerator.js"></script>

<!-- load standard JS libraries -->
<script src="/js/std/jquery.min.js"></script>
<script src="/js/std/bootstrap.min.js"></script>

<!-- load JS files with possible dependencies -->
<script src="/js/helpers/welcome/userinforetriever.js"></script>
